[submodule "TS-Interpretability-Benchmark"]
	path = TSR
	url = git@github.com:cjrooke/TS-Interpretability-Benchmark.git
[submodule "time_series_explainability"]
	path = FIT
	url = git@github.com:cjrooke/time_series_explainability.git
